* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: #f0f0f0;
}

header {
    background-color: #232023;
    color: white;
    padding: 18px;
    text-align: center;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    height: 50px;
    margin-right: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 18px;
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #002F61;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    text-align: left;
    color: #002F61;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-btn {
    background-color: #48929b;
    color: #f0f0f0;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #23291e;
}

.social-login {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.google-btn, .facebook-btn, .linkedin-btn {
    background-color: #48929b;
    color: #f0f0f0;
    border: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

.google-btn:hover, .facebook-btn:hover, .linkedin-btn:hover {
    background-color: #48929b;
}

.options {
    margin-top: 20px;
}

.options a {
    color: #002F61;
    text-decoration: none;
    margin: 0 10px;
}

footer {
    text-align: center;
    background-color: #232023;
    color: white;
    padding: 19px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
